<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="foot" th:fragment="foot">
    <div class="new_end">
        <br/>
        <br/>
        <a th:href="@{/index}">首页 ||</a>
        <a th:href="@{/about}">关于我们 ||</a>
        <a th:href="@{/xitong}">投票系统 ||</a>
        <a th:href="@{/tuijian}">推荐项目 ||</a>
        <a th:href="@{/lianxi}">联系我们 ||</a>
        <br/>
        <p>Copyright © 南昌交通学院19计科3-4班　 江西省南昌经济技术开发区黄家湖东路111号　邮编：330100</p>
    </div>
</div>
</body>
</html>